-
	const defaultLkSidebarProps = {
		classes: '',
		userName: 'Евгений Федотов',
		firstLetter: 'Е',
		links: [
			{
				name: 'Личные данные',
				current: true
			},
			{
				name: 'Реквизиты для оплаты',
				current: false
			},
			{
				name: 'Корзина',
				current: false
			}
		],
	}

mixin lk-sidebar(props = defaultLkSidebarProps)
	include ../../components/breadcrumbs/breadcrumbs.pug
	include ../../components/title/title.pug

	-
		const checkProps = {
			classes: props.classes ? props.classes : defaultLkSidebarProps.classes,
			userName: props.userName ? props.userName : defaultLkSidebarProps.userName,
			firstLetter: props.firstLetter ? props.firstLetter : defaultLkSidebarProps.firstLetter,
			links: props.links ? props.links : defaultLkSidebarProps.links,
		};


	.lk-sidebar(class=checkProps.classes)
		.lk-sidebar__user
			span!= checkProps.firstLetter
			span!= checkProps.userName
		.lk-sidebar__links
			- let i = 0
			- while(i < checkProps.links.length)
				a.lk-sidebar__link(href=checkProps.links[i].name class=`${checkProps.links[i].current === true ? "lk-sidebar__link--current" : ""}`)
					!= checkProps.links[i].name
				- i++
		+new-btn({
			classes: '.lk-sidebar__logout',
			vMode: 'link',
			text: 'Выйти',
			icon: 'false',
		})

